In [9]:
import pandas as pd

In [10]:
index = [0, 1, 2, 3, 4, 5]
columns = ['Red', 'blue', 'green']
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9],
        [10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]

In [11]:
index

[0, 1, 2, 3, 4, 5]

In [12]:
columns

['Red', 'blue', 'green']

In [13]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]]

In [16]:
df = pd.DataFrame(data, index, columns)

In [17]:
df

   Red  blue  green
0    1     2      3
1    4     5      6
2    7     8      9
3   10    11     12
4   13    14     15
5   16    17     18